<?xml version="1.0" encoding="iso-8859-1"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>@TITLE@ - XTrkCAD</title>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<style type="text/css">
<!--
@import url("style/global.css");
-->
</style>
</head>
<body>

<div id="container">

	<div id="banner">
    <div id="header">@MENULINK( "index", "XTrkCAD" )@</div>
    <div id="subtext">@TITLE@</div>

  </div>

  <div id="right">
    <div class="title">User</div>
			@MENULINK( "index", "Home" )@
			@MENULINK( "features", "Features" )@
			@MENULINK( "", "Screenshots" )@
			<a href="http://sourceforge.net/project/showfiles.php?group_id=151737">Download</a>
			@MENULINK( "", "Installation" )@
			@MENULINK( "", "FAQ" )@   	

    <div class="title">Developer</div>
			@MENULINK("", "Mailing List")@
			<a href="http://sourceforge.net/projects/xtrkcad-fork/">Project Page</a>
			<a href="http://sourceforge.net/cvs/?group_id=151737">CVS Access</a>
			@MENULINK( "fileformat", "File Formats" )@
			@MENULINK("windev", "Using Visual Studio")@
			
    <div class="title">General</div>
			@MENULINK( "links", "Links" )@
			
		<a href="http://www.sourceforge.net/" target="_blank"><img alt="SourceForge.net" src="http://sourceforge.net/sflogo.php?group_id=151737&type=2" width="125" height="37" border="0"/></a>
	</div>

  <div id="content">
