/* Global Formatting */

body {	
	height: 100%;
	text-align: center; 
	font-family: "Lucida Sans", Arial, Geneva, Helvetica, Helv, "Myriad Web", Syntax, sans-serif;	
	background-color: #d9d4c6;
	color: #405125; 
}

a {
	color: #3555e8;
	text-decoration: none;
}

a:visited {
/*	color: #8c8572; */
	color: #bfb9a8;
}	

li {
	list-style-type: circle;
}
	
/* This bit makes the content be centered in both IE and FF */

#container {
	width: 760px;
	margin-left: auto;
	margin-right: auto;
	text-align: left;
	background-color: #fff7e0;
}

/* Misc Formatting */

.code {
	color: #000000;
	background-color: #fff3d1;
	border-left: medium solid #b2aa92;
	font-family: "Courier New", Courier, mono;
	margin: 10px;
	padding-left: 1em;
}

blockquote {
	border-top: 1px solid #CA5017;
	border-bottom: 1px solid #CA5017;
	margin: 10px;
	padding-left: 1em;
}

dl {
	margin: 10px;
}

dt {
	font-weight: bold;
}
/* Header Formatting */

#banner {
	padding: 5px;
	margin-bottom: 5px;
	border-bottom: 3px solid #CA5017;
	background-image:url(../gif/logo.gif); 
	background-repeat:no-repeat; 
	background-position:right center;
}

#header {
	font-weight: bold;
	font-size: 200%;
	color: #CA5017;
}

#header a {
	color: #CA5017;
	text-decoration: none;
}
	
#subtext {
	font-size: 120%;
	font-style: italic;
}

/* Content Formatting */
p {
	margin-left:15px;
}
	
#content {
	padding: 5px;
	margin: 0;
	margin-right: 215px;
}

#content a {
	border-bottom: 1px dashed #ca5017;
	text-decoration: none; 
}

#content a.graphics, #content a img {
	border-style: none;
	text-decoration: none; 
}


#content a:hover {
	color: #FFFFFF;
	background: #154ead;
}

.author, hr {
	text-align: right;
	border-top: 1px solid #CA5017;
	font-size: 80%;
}

.title, h1 {
	border-bottom: 1px solid #CA5017;
	margin-top: 5px;
	margin-bottom: 5px;
	font-size: 150%;
	color: #1d2511;
	font-weight: normal;
}

.subtitle, h2 {
	margin-top: 5px;
	margin-bottom: 5px;
	font-size: 105%;
	color: #1d2511; 
	font-weight: normal;
}

.hilite {
	font-weight: bold;
}
	
/* Menu Formatting */

#right {
	float: right;
	width: 200px;
	margin: 0;
	margin-left: 5px;
	padding: 5px;
	color: #405125;	
}
#right a {
	display: block;
	padding: 3px;
	padding-left: 10px;
	color: #3555e8;
}
#right a:hover {
	color: #FFFFFF;
	background-color: #ca5017;
}

#right a:visited {
		color: #bfb9a8;
}

#right .text {
	padding: 3px;
	padding-left: 10px;
}

/* Footer Formatting */

#footer {
	clear: both;
	padding: 5px;
	margin-top: 5px;
	border-top: 3px solid #CA5017;
	text-align: right;
	font-size: 80%;
}
