/**************************************************************************
Window Help File colour, fonts, margins, all are done here
**************************************************************************/

BODY {
	background: White;
	font-family:  Verdana, Arial, Helvetica;
	font-size: 100%;
	color: #000000;
	font-weight: normal;
	}

code {
	text-decoration: none;
	font-family: "Courier New", Courier, monospace;
	font-size: 9pt;
	color: Black;
	font-weight: bold;
}

A:link {
	text-decoration: none;
	font-family: Verdana, Arial, Helvetica;
	color: Blue;
	font-weight: bold;
}          /* unvisited link */

A:visited {
	text-decoration: none;
	font-family: Verdana, Arial, Helvetica;
	color: 336666;
	font-weight: bold;
}        /* visited links */

A:active { 
	text-decoration: none;
	font-family: Verdana, Arial, Helvetica;
	font-weight: bold;	
	color: red;
	}        /* active links */

a:hover {
	text-decoration: underline;
	color:red;
	}

H1 {
	text-align: left;
	font-family: Verdana, Arial, Helvetica;
	font-size: large;
	font-style: italic;
	font-weight: bold;
	padding: 3px 6px;
}

H2 {
	text-align: left;
	font-family: Verdana, Arial, Helvetica;
	font-size: medium;
	font-style: italic;
	font-weight: bold;
	padding: 3px 6px;
}

H3 {
	text-align: left;
	font-family: Verdana, Arial, Helvetica;
	font-size: small;
	font-style: italic;
	font-weight: bold;
	padding: 3px 6px;
}


p, pre {margin-left: 30px;}

ul {list-style: disc;}		

ol {list-style: decimal}	
	
dt {font-weight: bold;}

dd {margin-left: 40px;}	
